.div__total {
  border: solid 3px #e9ecef;
  width: 100%;
  height: 96px;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  border-radius: 5px;
}
.total {
  display: flex;
  justify-content: space-around;
}
.p1 {
  font-weight: bold;
}
.p2 {
  color: #fd377e;
  font-weight: 600;
}
